#exclude files from export
.gitattributes      export-ignore
.gitignore          export-ignore

# Dev Tools (These ARE in your repo, but users don't need them)
package.json        export-ignore
package-lock.json   export-ignore
webpack.mix.*       export-ignore

# Source Files (Not needed in the release
src/                export-ignore

# Default behavior: Store as LF, checkout based on OS
* text=auto

# Force Linux scripts to always be LF (Vital for WSL/NPM)
*.sh text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.php text eol=lf
